---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="aboutSection" class="about">
  </section>
  <script type="module" src="/js/about.js"></script>
</BaseLayout>

<style>
  .about {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #333;
  }
</style>

